<h2> Sign Up Confirmation </h2>
<h3> Are you sure these values are correct? </h3>

<p><b>Email: <%= @user.email %></b></p>
<p><b>Name: <%= @user.name %><b></p>

<div>
  <%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
  <%= link_to "No", new_user_path, class: "btn btn-danger" %>
</div>
